



@font-face {
    font-family: 'tempus_sans_itcregular';
    src: url('tempsitc-webfont.woff2') format('woff2'),
         url('tempsitc-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}